
.button{
    width: 159px;
    height: 40px;
    font-weight: 600;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    background: var(--color-letra);
    color: var(--textoAzulOscuro);
    cursor: pointer;
}

.button:disabled {
    /* Estilos para el botón deshabilitado */
    background: rgba(157, 157, 161, 0.6);
    color: rgba(51, 0, 114, 0.6);
    cursor: not-allowed; /* Cambia el cursor al pasar sobre el botón deshabilitado */
}

.button:not(:disabled) {
    /* Estilos para el botón habilitado (restaura el color original) */
    background: var(--color-letra);
    color: var(--textoAzulOscuro);
}
